.Sidebar
  position: fixed
  float: left
  height: calc(100vh - 80px)
  width: 280px
  background-image: linear-gradient(to bottom, #013F5E, #002740)
  overflow: auto

  #logo
    width: 120px
    margin: 22px 0 52px 32px
    transition: opacity .2s ease
    cursor: pointer

    &:hover
      opacity: .6

  &-section-header
    font-family: $font
    font-size: 13px
    letter-spacing: 0.04em
    text-transform: uppercase
    font-weight: 500
    color: #fff
    opacity: .8
    margin-left: 30px
    margin-bottom: 14px
    margin-top: 24px

  .SidebarLink
    font-family: $font
    font-size: 15px
    letter-spacing: 0.04em
    margin: 1px 30px 0 30px
    transition: background .2s ease
    border-radius: 40px

    &:hover
      background: rgba(38, 230, 189, .2)

    a
      display: block
      height: 40px
      line-height: 40px
      padding: 0 30px
      text-decoration: none
      color: rgba(255, 255, 255, .4)

    &.is-active
      background: rgba(38, 230, 189, .2)

      a
        color: $color-light-green